<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card animate__animated animate__zoomInDown">
                <div class="card-header">
                    <h4 class="card-title">
                        Admin Rules
                    </h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Rule</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>High</td>
                                <td>mark it as high if it is more than 1000$</td>
                                <td>
                                    <i class="fa fa-trash" style="cursor: pointer;"></i>
                                    <i class="fa fa-pencil-alt" style="margin-left: 10px;" style="cursor: pointer;"></i>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>

                
            </div>
            <div class="card" style="margin: 30px;">
                <div class="card-header">
                    <h4 class="card-title">
                        Add new rules
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            Rule name
                        </div>
                        <div class="col-sm-8">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-4">
                            Rule Description
                        </div>
                        <div class="col-sm-8">
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-success">Add New </button>
                </div>
            </div>
        </div>
    </div>
</div>