.box{
    border-radius: 4px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border: 1px solid #333;
}
.high{
    color: #ff0000;
}
.medium{
    color: orange;
}
.low{
    color: yellow;
}
